  <!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <a href="#">
                <img src="~/Images/banner/banner-01.jpg" height="500"/>
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Seed Farm</strong></h1>
                        <p class="m-b-40">Hotline :0399552537</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <a href="#"><img src="~/Images/banner/banner-02.jpg" height="500"/></a>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br>Seed Farm</strong></h1>
                        <p class="m-b-40">Tân Quí- Tân Thới- Tân Phú Đông- Tiền Giang</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <a href="#"><img src="~/Images/banner/banner-03.jpg" height="500"/></a>           
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
