
@{
    ViewBag.Title = "_EmptyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="css-container">
    <div class="card-body css-content">
        <div class="css-labEmp">
            <h6>Giỏ hàng chưa có sản phẩm nào</h6>
            <a href="/Product/Index" class="btn btn-success">Mua Sắm ngay</a>
        </div>
    </div>
</div>

